<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Open Flashcards</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse flex-grow-1 text-right" id="navbarNav">
    <ul class="navbar-nav ml-auto flex-nowrap">
      <li class="nav-item" id="dashboard"><a class="nav-link" href="/">Dashboard<span class="sr-only">(current)</span></a></li>
      <li class="nav-item" id="create"><a class="nav-link" href="/create-flashcards">Create Cards<span class="sr-only">(current)</span></a></li>
      <li class="nav-item" id="sheets"><a class="nav-link" href="/sheet-management">Sheets<span class="sr-only">(current)</span></a></li>
      <li class="nav-item" id="students"><a class="nav-link" href="/student-management">Students<span class="sr-only">(current)</span></a></li>
      <li class="nav-item" id="users"><a class="nav-link" href="/user-management">Users<span class="sr-only">(current)</span></a></li>
      <li class="nav-item"><a class="nav-link" href="/logout">Logout<span class="sr-only">(current)</span></a></li>
    </ul>
  </div>
</nav>
