<div class="col-md-6 card-div">
    <div class="click panel" id="card{{ i }}">
        <div class="front face"></div>
        <div class="back face" id="card{{ i }}-back">
            <div class="row card-back-row card-back-row1" id="card{{ i }}-back1">
            </div>
            <div class="row card-back-row card-back-row2" id="card{{ i }}-back2">
            </div>
            <div class="row card-back-row card-back-row3">
                <button type="button" class="btn btn-secondary correct-btn">
                    <i class="fa fa-check" aria-hidden="true"></i>
                </button>
                <button type="button" class="btn btn-secondary wrong-btn">
                    <i class="fa fa-times" aria-hidden="true"></i>
                </button>
            </div>
        </div>
    </div>
</div>
