<div class="row">
    <div class="modal fade" data-backdrop="static" data-keyboard="false" id="column-select" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="navbar-collapse modal-header">
                    <h4>Select Columns</h4>
                </div>
                <div class="modal-body">
                    <div class="row modal-row">
                        <div class="col-md-6">
                            <p>Front of Card: </p>
                        </div>
                        <div class="col-md-6">
                            <div id="primary-language" class="form-group">
                                <select id="primary-list" class="form-control eco-select"></select>
                            </div>
                        </div>
                    </div>
                    <div class="row modal-row">
                        <div class="col-md-6">
                            <p>Back of Card (Primary): </p>
                        </div>
                        <div class="col-md-6">
                            <div id="secondary-language" class="form-group">
                                <select id="secondary-list" class="form-control eco-select"></select>
                            </div>
                        </div>
                    </div>
                    <div class="row modal-row">
                        <div class="col-md-6">
                            <p>Back of Card (Secondary - optional): </p>
                        </div>
                        <div class="col-md-6">
                            <div id="tertiary-language" class="form-group">
                                <select id="tertiary-list" class="form-control eco-select"></select>
                            </div>
                        </div>
                    </div>
                    <div class="row modal-row">
                        <div class="col-md-6">
                            <p>Categories (Optional): </p>
                        </div>
                        <div class="col-md-6">
                            <div id="modal-categories" class="form-group">
                                <select id="modal-categories-list" class="form-control eco-select"></select>
                            </div>
                        </div>
                    </div>
                    <div class="row modal-row">
                        <button type="button" class="btn btn-outline-success" id="confirm-btn">Confirm</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
