Flask==1.0.2
psycopg2-binary==2.7.6.1
Flask-SQLAlchemy==2.3.2
sqlalchemy==1.3.3
pandas==0.24.2
requests==2.21.0
google-api-python-client==1.7.8
google-auth-oauthlib==0.3.0
google-auth-httplib2==0.0.3
google-auth==1.6.3
