/* View Cards */

/*
#264653 Japanese Indigo
#2A9D8F Jungle Green
#E9C46A Hansa Yellow
#F4A261 Sandy Brown
#E76F51 Light Red Ochre
*/

/* Navbar */
#change-columns {
    cursor: pointer;
}

/* Toolbar */
#toolbar {
    margin: 1em 1em 1em;
}

.eco-select {
    max-width: 200px;
    margin: 0 auto;
}

#refresh-btn.active {
    color: #b53fff !important;
    box-shadow: 0px 0px 5px 2px #b53fff;
    outline: 0 !important;
}

#cor-count {
    font-size: 30px;
    color: #2A9D8F;
}

#wro-count {
    font-size: 30px;
    color: #E76F51;
}

/* Modal */
.modal-body {
    text-align: center;
}

.modal-row {
    padding-top: 5px;
    padding-bottom: 5px;
}

.modal-row>.form-group {
    height: 20px;
}

/* Cards */
 .card-div {
     padding: 1em 1em 1em 1em;
 }

.card-container {
    cursor: pointer;
    max-width: 300px;
    height: 260px;
    margin: 0 auto;
    position: relative;
    -webkit-perspective: 800px;
    -moz-perspective: 800px;
    -o-perspective: 800px;
    perspective: 800px;
}

.card {
    width: 100%;
    height: 100%;
    position: absolute;
    -webkit-transition: -webkit-transform 1s;
    -moz-transition: -moz-transform 1s;
    -o-transition: -o-transform 1s;
    transition: transform 1s;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform-origin: 50% 50%;
}

.card div {
    display: block;
    height: 100%;
    width: 100%;
    color: white;
    text-align: center;
    position: absolute;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.4);
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
}

.card .front {
  background: #F4A261;
  padding-top: 4em;
}

.card .back {
    background: #E9C46A;
    -webkit-transform: rotateY( 180deg );
    -moz-transform: rotateY( 180deg );
    -o-transform: rotateY( 180deg );
    transform: rotateY( 180deg );
}

div.card-back-row1 {
    height: 80px;
    top: 10px;
    border: 0;
    margin-left: 0px;
    color: inherit;
    box-shadow: 0px 0px 0px;
}

div.card-back-row2 {
    height: 80px;
    top: 90px;
    border: 0;
    margin-left: 0px;
    color: inherit;
    box-shadow: 0px 0px 0px;
}

div.card-back-row3 {
    height: 80px;
    top: 170px;
    border: 0;
    margin-left: 0px;
    padding-top: 25px;
    color: inherit;
    box-shadow: 0px 0px 0px;
}

p.card-text {
    color: #264653;
    padding-top: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    max-width: 300px;
    overflow: hidden;
}

.card.flipped {
    -webkit-transform: rotateY( 180deg );
    -moz-transform: rotateY( 180deg );
    -o-transform: rotateY( 180deg );
    transform: rotateY( 180deg );
}

/* Mobile View */
@media screen and (max-width: 992px) {

}

/* Spinner */
.spinner {
    position: fixed;
    top: 0px;
    left: 0px;
    text-align: center;
    padding-top: 15em;
    background-color: rgba(248, 248, 248, 0.7);
    z-index: 1234;
    overflow: auto;
    width: 100%;
    height: 100%;
}

.sk-cube-grid {
  width: 40px;
  height: 40px;
  margin: 100px auto;
}

.sk-cube-grid .sk-cube {
  width: 33%;
  height: 33%;
  background-color: #E9C46A;
  float: left;
  -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
          animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
}
.sk-cube-grid .sk-cube1 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube2 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube3 {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s; }
.sk-cube-grid .sk-cube4 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube5 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube6 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube7 {
  -webkit-animation-delay: 0s;
          animation-delay: 0s; }
.sk-cube-grid .sk-cube8 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube9 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }

@-webkit-keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1);
  }
}

@keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1);
  }
}
