.panel {
    cursor: pointer;
    max-width: 300px;
    height: 260px;
    margin: 0 auto;
    position: relative;

    -webkit-perspective: 800px;
            perspective: 800px;
}

.panel .front {
    text-align: center;
    height: 100%;
    width: 100%;
    display: block;
    position: absolute;
    padding-top: 30%;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.4);

    background: #F4A261;
    z-index: 900;

    -webkit-transform: rotateX(0) rotateY(0);
            transform: rotateX(0) rotateY(0);
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    -webkit-transition: all 1.0s ease-in-out;
            transition: all 1.0s ease-in-out;
}

.panel.flipped .front {
    z-index: 900;
    border-color: #eee;
    background: #333;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.4);
    -webkit-transform: rotateY(179deg);
            transform: rotateY(179deg);
}

.panel .back {
    text-align: center;
    height: 100%;
    width: 100%;
    display: block;
    position: absolute;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.4);

    background: #E9C46A;
    z-index: 800;

    -webkit-transform: rotateY(-179deg);
            transform: rotateY(-179deg);

    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;

    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;

    -webkit-transition: all 1.0s ease-in-out;
            transition: all 1.0s ease-in-out;
}

.panel.flipped .back {
    z-index: 1000;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.4);
    background: #E9C46A;

    -webkit-transform: rotateX(0) rotateY(0);
            transform: rotateX(0) rotateY(0);
  }

  .click .front {
    cursor: pointer;
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
  }
  .click.flipped .front {
    -webkit-transform: rotateY(-180deg);
            transform: rotateY(-180deg);
  }
  .click .back {
    cursor: pointer;
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
  }
  .click.flipped .back {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
  }
