/* View Cards */

/*
#264653 Japanese Indigo
#2A9D8F Jungle Green
#E9C46A Hansa Yellow
#F4A261 Sandy Brown
#E76F51 Light Red Ochre
*/

/* Navbar */
#change-columns {
    cursor: pointer;
}

/* Toolbar */
#toolbar {
    margin: 1em 1em 1em;
    padding-bottom: 20px;
    background-color: #FFFFFF;
    text-align: center;
}

#toolbar h4 {
    margin-top: 30px;
    margin-bottom: 15px;
}

#toolbar p {
    margin-top: 10px;
    margin-bottom: 0px;
}

#toolbar button {
    margin-top: 10px;
    margin-bottom: 0px;
}

.eco-select {
    max-width: 200px;
    margin: 0 auto;
}

input[type="radio"].toggle {
    position: absolute;
    left: -99em;
}

input[type="radio"] + .order-btn {
    border: 2px solid #bfbfbf;
    color: #264653;
}

input[type="radio"]:checked + .order-btn {
    background-color: #264653;
    color: #E76F51;
    border-color: #264653;
}

#refresh-btn.active {
    color: #b53fff !important;
    box-shadow: 0px 0px 5px 2px #b53fff;
    outline: 0 !important;
}

#cor-count {
    font-size: 30px;
    color: #2A9D8F;
}

#wro-count {
    font-size: 30px;
    color: #E76F51;
}

/* Modal */
.modal-body {
    text-align: center;
}

.modal-row {
    padding-top: 5px;
    padding-bottom: 5px;
}

.modal-row>.form-group {
    height: 20px;
}

/* Cards */
 .card-div {
     padding: 1em 1em 1em 1em;
 }

.card-container {
    cursor: pointer;
    max-width: 300px;
    height: 260px;
    margin: 0 auto;
    position: relative;
    -webkit-perspective: 800px;
    -moz-perspective: 800px;
    -o-perspective: 800px;
    perspective: 800px;
}

.card {
    width: 100%;
    height: 100%;

    -webkit-transition: 1.1s;
    -webkit-transform-style: preserve-3d;

    -moz-transition: 1.1s;
    -moz-transform-style: preserve-3d;

    -ms-transition: 1.1s;
    -ms-transform-style: preserve-3d;

    -o-transition: 1.1s;
    -o-transform-style: preserve-3d;

    transition: 1.1s;
    transform-style: preserve-3d;
}

.face {
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.4);
    text-align: center;
    height: 100%;
    width: 100%;
    display: block;
    position: absolute;
}

.front, .back {
 -webkit-backface-visibility: hidden;
         backface-visibility: hidden;
 -webkit-transition: 0.6s;
         transition: 0.6s;
 -webkit-transform-style: preserve-3d;
         transform-style: preserve-3d;
 position: absolute;
 top: 0;
 left: 0;
 }

.card .front {
    z-index: 2;
    background: #F4A261;
    padding-top: 30%;
}

.card .back {
    background: #E9C46A;
    -webkit-transform: rotateY( 180deg );
    -moz-transform: rotateY( 180deg );
    -ms-transform: rotateY( 180deg );
    -o-transform: rotateY( 180deg );
    transform: rotateY( 180deg );
}

.card.flipped {
    -webkit-transform: rotateY( 180deg );
    -moz-transform: rotateY( 180deg );
    -ms-transform: rotateY( 180deg );
    -o-transform: rotateY( 180deg );
    transform: rotateY( 180deg );
}

.card-back-row {
    text-align: center;
    display: block;
    border: 0;
    margin-left: 0px;
    color: inherit;
    box-shadow: 0px 0px 0px;
    margin-right: 0px;
    height: 60px;
}

div.card-back-row1 {
    margin-top: 10px;
}

div.card-back-row2 {
    margin-top: 15px;
}

div.card-back-row3 {
    margin-top: 65px;
}

p.card-text {
    color: #264653;
    padding-top: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    max-width: 300px;
    overflow: hidden;
}

.correct-btn {
    color: #2A9D8F;
}

.wrong-btn {
    color: #E76F51;
}

#confirm-btn {
    margin-left: auto;
    margin-right: 25px;
}
