@font-face {
  font-family: "custom";
  src: url("/static/fonts/Montez-Regular.ttf");
  /* src: url("/static/fonts/Handlee-Regular.ttf"); */
}

/* Nav bar */
.navbar {
    margin-bottom: 0px
}

/* Header Section */
#initial-view {
    padding-left: 15px;
    padding-right: 15px;
    min-height: 70vh;
}

#primary-image {
    width: 100%;
    background-image: url("../img/neurons.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.4;
    z-index: 1;
}

#text-overlay {
    width: 100%;
    height: 60%;
    position: absolute;
    z-index: 2;
    left: 50%;
    transform: translate(-50%, 0);
}

#header-row {
    display: inline;
    text-align: center;
}

#primary-header {
    padding-top: 100px;
    font-size: 160px;
    font-family: custom;
    color: #FF5500;
}

#tag-line-row {
    display: inline;
    text-align: center;
}

#tag-line {
  font-style: italic;
  font-family: custom;
}

/* Text Sections */
.landing-page-col {
    padding-top: 50px;
    padding-right: 100px;
    padding-left: 100px;
    padding-bottom: 50px;
}

.section-header {
    font-size: 50px;
}

#second-view {
    background-color: #FFFFFF;
}

#fourth-view {
    background-color: #FFFFFF;
}

/* Vertical Alignment for Phones and Tablets */
@media screen and (max-width: 992px) {
    .landing-page-col {
        padding-right: 20px;
        padding-left: 20px;
    }

    #primary-header {
        font-size: 80px;
    }

    .modal-dialog {
        width:95%;
    }
}

@media screen and (max-width: 350px) {
    #primary-header {
        font-size: 50px;
    }

    #tag-line {
      font-size: 20px;
    }
}