@font-face {
  font-family: "custom";
  src: url("/static/fonts/Montez-Regular.ttf");
  /* src: url("/static/fonts/Handlee-Regular.ttf"); */
}

/* Header Section */
#initial-view {
    min-height: 70vh;
}

#primary-image {
    width: 100%;
    min-height: 700px;
    background-image: url("../img/neurons.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.25;
    z-index: 1;
}

#text-overlay {
    width: 100%;
    min-height: 700px;
    position: absolute;
    z-index: 2;
    left: 50%;
    transform: translate(-50%, 0);
}

.text-overlay-row {
    display: inline;
    text-align: center;
}

#primary-header {
    padding-top: 10vh;
    font-size: 160px;
    font-family: custom;
    color: #E76F51;
}

#tag-line {
  font-style: italic;
  font-family: custom;
  font-size: 30px;
  color: #264653;
}

/* Text Sections */
.landing-page-col {
    padding-top: 50px;
    padding-bottom: 50px;
}

.section-header {
    font-size: 50px;
}

#second-view {
    background-color: #FFFFFF;
}

#fourth-view {
    background-color: #FFFFFF;
}

/* Vertical Alignment for Phones and Tablets */
@media screen and (max-width: 992px) {

    #primary-header {
        font-size: 80px;
    }

    .modal-dialog {
        width:95%;
    }
}

@media screen and (max-width: 350px) {
    #primary-header {
        font-size: 50px;
    }

    #tag-line {
      font-size: 20px;
    }
}
