/* Styling for tables */
.text-btn-row {
    margin-bottom: 20px;
}

.btn-div {
    padding-top: 10px;
    padding-right: 0px;
    text-align: right;
}

.table-row {
    cursor: pointer;
    height: 55px;
}

.confirm-col {
    text-align: right;
}

.confirm-head {
    text-align: right;
}

.confirm-col-btn {
    margin-left: 2px;
    margin-right: 2px;
}

.confirm-col-btn > .fa {
    font-size: 25px;
}

/* .image-btn {
    position: relative;
    width: 175px;
    display: inline-block;
    padding-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
}

.image-btn:hover {
    background-color: #f0f0f0
} */

.div-link {
  position:absolute;
  width:100%;
  height:100%;
  top:0;
  left: 0;
  z-index: 1;
}

.image-btn-text {
     display: inline-block;
     font-size: 15px;
     color: #000000;
     text-transform: uppercase;
     margin-bottom: 10px;
     margin-top: 10px;
 }

.modal-dialog {
    width:80%;
}

#placeholder {
    width: 40%;
}
