<!-- Encoding -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- Facebook Open Graph tags -->
<meta property="og:title" content="Open Flashcards" />
<meta property="og:site_name" content="Open Flashcards"/>
<meta property="og:image" content="http://openflashcards.com/static/img/index.jpg"/>
<meta property="og:type" content="website" />
<meta property="og:url" content="http://openflashcards.com"/>
<meta property="og:description" content="An online application for creating, viewing and sharing flashcards by quickly and easily importing information from Google Sheets."/>
