<link rel="stylesheet" href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css">
<script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/select/1.2.2/css/select.dataTables.min.css">
<script src="https://cdn.datatables.net/select/1.2.2/js/dataTables.select.min.js"></script>
<link rel="stylesheet" href="{{ url_for('static',filename='style/table-styling.css') }}">
<script src="{{ url_for('static',filename='script/custom/tableMeta.js') }}"></script>
<script src="{{ url_for('static',filename='script/custom/sheetListFunctions.js') }}"></script>
