
<script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.dataTables.min.css">
<link rel="stylesheet" href="{{ url_for('static',filename='style/table-styling.css') }}">
<script src="{{ url_for('static',filename='script/custom/sheetListFunctions.js') }}"></script>
<script src="{{ url_for('static',filename='script/custom/tableReference.js') }}"></script>
<script src="{{ url_for('static',filename='script/custom/viewButtonFunctions.js') }}"></script>
<script src="{{ url_for('static',filename='script/custom/shareButtonFunctions.js') }}"></script>
