<!DOCTYPE html>
<html>
<head>
	<title>Account Suspended | Open Flashcards</title>

	{% include 'includes/basic-meta.html' %}
    {% include 'includes/base-scripts.html' %}

</head>
<body>
	<div class="container-fluid">
        <!-- Navbar -->
		{% include 'modules/navbar.html' %}
        <!-- Content -->
		<div class="row">
            <div class='col-md-12 main-panel'>
                <h2>Account Suspended</h2>
                <p>
                    Your account has been suspended and you will no longer be able to log in to Open Flashcards. If you believe this is an error, please contact us and we will take a look. In the mean time, you are free to continue using the public version of the website. 
                </p>
            </div>
        </div>
        {% include 'modules/footer.html' %}
	</div>
</body>
</html>
