<!DOCTYPE html>
<html>
<head>
	<title>Open Flashcards</title>

	{% include 'includes/basic-meta.html' %}
  {% include 'includes/base-scripts.html' %}

	<!-- Page Specific Styling -->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style/create-flashcards.css') }}">

	<!-- Custom JavaScript -->
	<!-- <script src="{{ url_for('static',filename='script/custom/homePageOnLoad.js') }}"></script>
	<script src="{{ url_for('static',filename='script/custom/homePageFunctions.js') }}"></script>
	<script src="{{ url_for('static',filename='script/custom/homePageMeta.js') }}"></script> -->

</head>
<body>
	{% include 'includes/spinner.html' %}
	<!-- Content -->
	<div class="container-fluid">
		{% if permission_level == 'super_user' %}
			{% include 'includes/admin-navbar.html' %}
		{% else %}
			{% include 'includes/loggedin-navbar.html' %}
		{% endif %}
		<div class="row main-panel">
      <div class="col-md-12">
        <h3>Create New Flash Cards</h3>
        <!-- <textarea class="form-control" id="pasted-input" rows="16" placeholder="Paste data here"></textarea> -->
      </div>
    </div>
    {% include 'includes/footer.html' %}
  </div>
</body>
</html>
