<!DOCTYPE html>
<html>
<head>
    <title>Open Flashcards</title>

    {% include 'includes/basic-meta.html' %}
    {% include 'includes/base-scripts.html' %}

    <!-- Page Specific Styling -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style/create-flashcards.css') }}">

    <!-- Custom JavaScript -->
    <script src="{{ url_for('static',filename='script/custom/createCardsFunctions.js') }}"></script>
    <script src="{{ url_for('static',filename='script/custom/createCardsOnLoad.js') }}"></script>

</head>
<body>
    {% include 'includes/spinner.html' %}
    <!-- Content -->
    <div class="container-fluid">
        {% if permission_level == 'super_user' %}
        		{% include 'includes/admin-navbar.html' %}
        {% else %}
        		{% include 'includes/loggedin-navbar.html' %}
        {% endif %}
        <div class="row main-panel">
            <div class="col-md-12">
                <h3>Create New Flash Cards</h3>
                <h4>Option 1 — Google Drive</h4>
                <textarea class="form-control text-input" id="url-input" rows="1" placeholder="Paste link to Google Sheet here"></textarea>
                <br>
                <button type="button" class="btn btn-outline-success" id="submit-btn-opt-1">Submit</button>
<!--                <h4>Option 2 — Copy/Paste</h4>-->
<!--                <textarea class="form-control text-input" rows="16" placeholder="Paste data here"></textarea>-->
<!--                <br>-->
<!--                <button type="button" class="btn btn-default" id="submit-btn-opt-2">-->
<!--                    <span class="glyphicon glyphicon-upload" aria-hidden="true"></span> Submit-->
<!--                </button>-->
            </div>
        </div>
        {% include 'includes/footer.html' %}
        <!-- Modal -->
        <div class="row">
            <div class="modal fade" data-backdrop="static" data-keyboard="false" id="confirmation-modal" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="navbar-collapse modal-header" id="modal-header">
                        </div>
                        <div class="modal-body" id="modal-body">
                        </div>
                        <div class="modal-footer" id="modal-footer">
                            <a href="./"><button type="button" class="btn btn-outline-info" id="home-btn">Back to Dashboard</button></a>
                            <button type="button" class="btn btn-outline-warning" id="close-btn">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
