<!DOCTYPE html>
<html>
<head>
	<title>Open Flashcards</title>

	{% include 'includes/basic-meta.html' %}
	{% include 'includes/table-scripts.html' %}

	<!-- Page Specific Styling -->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style/index.css') }}">

	<!-- Custom JavaScript -->
	<script src="{{ url_for('static',filename='script/custom/homePageOnLoad.js') }}"></script>
	<script src="{{ url_for('static',filename='script/custom/homePageFunctions.js') }}"></script>
	<script src="{{ url_for('static',filename='script/custom/homePageMeta.js') }}"></script>

</head>
<body>
	{% include 'includes/spinner.html' %}
	<!-- Content -->
	<div class="container-fluid">
		{% include 'includes/loggedin-navbar.html' %}
	    <div class="row" id="initial-view">
			<div id="primary-image"></div>
			<div class="col-md-12" id="text-overlay">
				<div class="row" id="header-row">
					<h1 id="primary-header">Open Flashcards</h1>
				</div>
				<div class="row" id="tag-line-row">
					<h2 id="tag-line">Turn your Google Sheets into online flashcards</h2>
				</div>
			</div>
	    </div>
		<div class="row" id="sheets-panel">
            <div class="col-md-12">
				<div class="row text-btn-row">
					<div class="col-md-12">
						<div class="row">
							<h4>Select cards to use</h4>
						</div>
						<div class="row">
							<table id="public-most-viewed" class="display"></table>
						</div>
					</div>
				</div>
			</div>
        </div>
    	{% include 'includes/footer.html' %}
	</div>
</body>
</html>
