<!DOCTYPE html>
<html>

<head>
    <title>Dashboard | Open Flashcards</title>

    {% include 'includes/basic-meta.html' %}
    {% include 'includes/base-scripts.html' %}
    {% include 'includes/table-scripts.html' %}

    <!-- Page Specific Styling -->
    <!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style/index.css') }}"> -->

    <!-- Custom JavaScript -->

    <script src="{{ url_for('static',filename='script/custom/dashboardOnLoad.js') }}"></script>
<!--    <script src="{{ url_for('static',filename='script/custom/dashboardFunctions.js') }}"></script>-->

</head>

<body>
    {% include 'includes/spinner.html' %}
    <!-- Content -->
    <div class="container-fluid">
        {% if value == 'super_user' %}
        {% include 'modules/admin-navbar.html' %}
        {% else %}
        {% include 'modules/loggedin-navbar.html' %}
        {% endif %}
        <div class="row main-panel">
            <div class="col-md-12">
                <h3>Your Flash Cards</h3>
                <table id="userSheets" class="display"></table>
                <h3>Public Flash Cards</h3>
                <table id="publicSheets" class="display"></table>
                <h3><a href="/create-flashcards">Create New Cards</a></h3>
            </div>
        </div>
        {% include 'modules/footer.html' %}
        {% include 'modules/share-modal.html' %}
        {% include 'modules/feedback-modal.html' %}
    </div>
</body>

</html>
