<!DOCTYPE html>
<html>

<head>
    <title>Dashboard | Open Flashcards</title>

    {% include 'includes/basic-meta.html' %}
    {% include 'includes/base-scripts.html' %}
    {% include 'includes/table-scripts.html' %}
    {% include 'includes/additional-table-functionality.html' %}

    <!-- Page Specific Styling -->

    <!-- Custom JavaScript -->
    <script src="{{ url_for('static',filename='script/custom/page/dashboardOnLoad.js') }}"></script>
</head>

<body>
    {% include 'includes/spinner.html' %}
    <!-- Content -->
    {% if value == 'Super User' %}
    {% include 'modules/admin-navbar.html' %}
    {% elif value == 'Teacher' %}
    {% include 'modules/teacher-navbar.html' %}
    {% else %}
    {% include 'modules/student-navbar.html' %}
    {% endif %}
    <div class="container-fluid">
        <div class="row main-panel">
            <div class="col-md-12">
                <h3>Your Flash Cards</h3>
                <table id="userSheets" class="display responsive" width="100%"></table>
                <h3>Public Flash Cards</h3>
                <table id="publicSheets" class="display responsive" width="100%"></table>
                <h3><a href="/create-flashcards">Create New Cards</a></h3>
            </div>
        </div>
    </div>
    {% include 'modules/footer.html' %}
    {% include 'modules/share-modal.html' %}
    {% include 'modules/feedback-modal.html' %}
</body>

</html>
