<!DOCTYPE html>
<html>
<head>
	<title>Open Flashcards</title>

	<!-- Encoding -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- Facebook Open Graph tags -->
	<meta property="og:title" content="Open Flashcards" />
	<meta property="og:site_name" content="Open Flashcards"/>
	<meta property="og:image" content="http://openflashcards.com/static/img/index.jpg"/>
	<meta property="og:type" content="website"/>
	<meta property="og:url" content="http://openflashcards.com"/>
	<meta property="og:description" content="A free online application for creating, viewing and sharing flashcards by quickly and easily importing information from Google Sheets."/>

	<!-- jQuery plugin -->
	<script src="{{ url_for('static',filename='script/jquery/jquery-3.1.1.min.js') }}"></script>

	<!-- Bootstrap -->
	<link rel="stylesheet" href="{{ url_for('static',filename='style/bootstrap.min.css') }}">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css">
	<script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
	<link rel="stylesheet" href="https://cdn.datatables.net/select/1.2.2/css/select.dataTables.min.css">
	<script src="https://cdn.datatables.net/select/1.2.2/js/dataTables.select.min.js"></script>

	<!-- Font-awesome for sharing buttons -->
	<link href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

	<!-- Internal CSS -->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style/baseStyle.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style/index.css') }}">

	<!-- Custom JavaScript -->
	<script src="{{ url_for('static',filename='script/custom/dashboardOnLoad.js') }}"></script>
	<script src="{{ url_for('static',filename='script/custom/dashboardFunctions.js') }}"></script>
	<script src="{{ url_for('static',filename='script/custom/dashboardMeta.js') }}"></script>

	<!-- Google Analytics -->
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-60963697-4', 'auto');
        ga('send', 'pageview');
    </script>

</head>
<body>
	<div id="spinner" class="spinner" style="display:none;">
		<div class="sk-cube-grid">
			<div class="sk-cube sk-cube1"></div>
			<div class="sk-cube sk-cube2"></div>
			<div class="sk-cube sk-cube3"></div>
			<div class="sk-cube sk-cube4"></div>
			<div class="sk-cube sk-cube5"></div>
			<div class="sk-cube sk-cube6"></div>
			<div class="sk-cube sk-cube7"></div>
			<div class="sk-cube sk-cube8"></div>
			<div class="sk-cube sk-cube9"></div>
		</div>
	</div>
	<!-- Content -->
	<div class="container-fluid">
	    <div class="row" id="initial-view">
			<div id="primary-image"></div>
			<div class="col-md-12" id="text-overlay">
				<div class="row" id="header-row">
					<h1 id="primary-header">Open Flashcards</h1>
				</div>
				<div class="row" id="tag-line-row">
					<h2 id="tag-line">Turn your Google Sheets into online flashcards</h2>
				</div>
			</div>
	    </div>
		<div class="row" id="sheets-panel">
            <div class="col-md-12">
				<div class="row text-btn-row">
					<div class="col-md-12">
						<div class="row">
							<h4>Select cards to use</h4>
						</div>
						<div class="row">
							<table id="public-most-viewed" class="display"></table>
						</div>
					</div>
				</div>
			</div>
        </div>
	    <div class="row" id="second-view">
			<div class="col-md-12 landing-page-col">
				<h2 class="section-header">What is this?</h2>
				<p>Open Flashcards is a free tool that allows you to generate and view sets of flashcards, one of the most effective tools for improving your memory. Flashcards are very flexible and can be used for a range of purposes including improving your vocabulary in a new language, learning times tables, memorizing an important speech through prompts, or just about any other purpose you can think of.</p>
			</div>
	    </div>
    	<div class="row" id="third-view">
        	<div class="col-md-12 landing-page-col">
            	<h2 class="section-header">How does it work?</h2>
            	<p>Open Flashcards works by making use of your existing Google Sheets. Taking the information from the Sheets that you import, a set of flashcards will automatically be generated. As the application does not store the information in any sheet, any updates to your sheet will automatically be reflected when you view the card on Open Flashcards.</p>
            	<p>Within the application you also have a range of options for managing and interacting with your Sheets. Any Sheets that you currently have access to in your Google Drive will be available for viewing in the application. Furthermore, the permissions set in your Drive will also be reflected here. If you have shared a Sheet with someone, they will also be able to view the Sheet when they log into Open Flashcards. Correspondingly, you will also be able to view all files others have shared with you.</p>
            	<p>Finally, you also have the option to share your Sheet publicly. This will update the permissions in Google Drive so that anyone with the correct link can view the file, and so that anyone who logs into Open Flashcards will be able to view (but not alter) your Sheet to create flashcards.</p>
        	</div>
    	</div>
    	<div class="row" id="fourth-view">
        	<div class="col-md-12 landing-page-col">
	            <h2 class="section-header">Getting Started</h2>
	            <p>To get started, firstly use the button at the top of the page to login with your Google account. Once logged in, there are several options available:</p>
	            <ul>
	                <li>Import an existing Google Sheet from your Google Drive. The Sheet only needs to have two columns (one with the values for the front of the cards, one for the backs). Don't worry if the Sheet has more than two columns, you will have the option to select which columns are used and how.</li>
	                <li>View one of the public Google Sheets shared by other users. Keep an eye out for new features coming soon that will allow you to rate and comment on public sets.</li>
	                <li>Create a new Google Sheet through this application (coming soon).</li>
	            </ul>
	        </div>
    	</div>
    	<!-- Footer -->
		<div class="row">
		    <footer>
		        <div class="page-footer">
		            <div class="container">
		                <div class="row">
		                    <div class="footer-col col-md-12">
		                        <br>
		                        <h4>Get in touch!</h4>
		                        <!-- Twitter -->
		                        <a href="https://twitter.com/mrbrettromero" data-toggle="tooltip" title="Twitter" target="_blank" class="share-btn twitter">
		                            <i class="fa fa-twitter"></i>
		                        </a>

		                        <!-- Facebook -->
		                        <a href="https://www.facebook.com/brett.romero.9" data-toggle="tooltip" title="Facebook" target="_blank" class="share-btn facebook">
		                            <i class="fa fa-facebook"></i>
		                        </a>

		                        <!-- Page -->
		                        <a href="http://brettromero.com" data-toggle="tooltip" title="brettromero.com" target="_blank" class="share-btn home">
		                            <i class="fa fa-home"></i>
		                        </a>
                                <br>
                                <br>
                                <p class='document-links'>
                                    <a href='./privacy-policy'>Privacy Policy</a> | <a href='./terms-conditions'>Terms &amp; Conditions</a>
                                </p>
		                    </div>
		                </div>
		            </div>
		        </div>
		    </footer>
		</div>
	</div>
</body>
</html>
