<!DOCTYPE html>
<html>
<head>
	<title>Open Flashcards</title>

	{% include 'includes/basic-meta.html' %}
	{% include 'includes/base-scripts.html' %}
	{% include 'includes/table-scripts.html' %}

	<!-- Page Specific Styling -->

	<!-- Custom JavaScript -->
	<script src="{{ url_for('static',filename='script/custom/page/studentManagementOnLoad.js') }}"></script>
	<script src="{{ url_for('static',filename='script/custom/user/studentManagementFunctions.js') }}"></script>
	<script src="{{ url_for('static',filename='script/custom/user/studentReference.js') }}"></script>

</head>
<body>
	{% include 'includes/spinner.html' %}
	<!-- Content -->
	<div class="container-fluid">
		{% if value == 'Super User' %}
        {% include 'modules/admin-navbar.html' %}
        {% elif value == 'Teacher' %}
        {% include 'modules/teacher-navbar.html' %}
        {% endif %}
		<div class="row main-panel">
    	<div class="col-md-12">
			<h3>Current Students</h3>
			<table id="studentUsers" class="display responsive" width="100%"></table>
		</div>
    </div>
    {% include 'modules/footer.html' %}
	{% include 'modules/approve-modal.html' %}
	</div>
</body>
</html>
