<!DOCTYPE html>
<html>
<head>
	<title>Terms & Conditions | Open Flashcards</title>

	{% include 'includes/basic-meta.html' %}
    {% include 'includes/base-scripts.html' %}

</head>
<body>
	<div class="container-fluid">
        <!-- Navbar -->
        {% if permission_level == 'super_user' %}
            {% include 'modules/admin-navbar.html' %}
        {% elif permission_level == 'user' %}
            {% include 'modules/loggedin-navbar.html' %}
        {% else %}
            {% include 'modules/navbar.html' %}
        {% endif %}
        <!-- Content -->
		<div class="row">
            <div class='col-md-12 main-panel'>
                <h3>Please check back soon!</h3>
            </div>
        </div>
        {% include 'modules/footer.html' %}
	</div>
</body>
</html>
