<!DOCTYPE html>
<html>
<head>
	<title>Open Flashcards</title>

	{% include 'includes/basic-meta.html' %}
	{% include 'includes/base-scripts.html' %}
	{% include 'includes/table-scripts.html' %}

	<!-- Page Specific Styling -->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style/sheet-management.css') }}">

	<!-- Custom JavaScript -->
	<script src="{{ url_for('static',filename='script/custom/userManagementOnLoad.js') }}"></script>
	<script src="{{ url_for('static',filename='script/custom/userManagementFunctions.js') }}"></script>
	<script src="{{ url_for('static',filename='script/custom/userManagementButtonFunctions.js') }}"></script>
	<script src="{{ url_for('static',filename='script/custom/userReference.js') }}"></script>

</head>
<body>
	{% include 'includes/spinner.html' %}
	<!-- Content -->
	<div class="container-fluid">
		{% include 'modules/admin-navbar.html' %}
		<div class="row main-panel">
    	<div class="col-md-12">
			<h3>User Management</h3>
			<table id="currentUsers" class="display responsive" width="100%"></table>
		</div>
    </div>
    {% include 'modules/footer.html' %}
	{% include 'modules/feedback-modal.html' %}
	</div>
</body>
</html>
